.c-input-field {
    background: #F7F7F7;
    border: 3px solid #F4F4F4;
    display: block;
    font-size: 16px;        
    height: 44px;
    margin-bottom: 25px;        
    padding-left: 15px;
}

.c-input-label {
    color: rgba(164, 164, 164, 0.9);
    font-size: 14px;
    margin-bottom: 2px;
    padding-left: 3px;
}

.c-textarea-field {
    background: #F7F7F7;
    border: 3px solid #F4F4F4;
    display: block;
    font-size: 16px;   
    height: 150px;     
    margin-bottom: 25px;
    padding-left: 15px;            
}

.c-form-button {
    background-color: #428BCA;
    border-color: #357EBD;        

    &:disabled {
        background-color: #428BCA;
        border-color: #357EBD;        
        opacity: 0.25;
    }
}