@import "sass/component/card";

.c-login-card {
    @extend %card;

    margin: 0 auto;
    top: 100px;    
    width: 350px;

    .card-title {
        color: rgba(164, 164, 164, 0.5);        
        text-align: center;
    }
  
    .c-input-field {
        width: 100%;
    }

    .c-form-button {
        width: 100%;
    }
}