html {
    min-height: 100%;
}

body {
    background: rgb(185 , 210, 224); 
    background: radial-gradient(ellipse at center, rgba(185, 210, 224, 1) 0%, rgba(187, 214, 228, 1) 0%, rgba(186, 211, 225, 1) 15%, rgba(186, 211, 225, 1) 38%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 82%, rgba(158, 191, 208, 1) 100%); 
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
}